 /* Carl Griffiths CSS */

html, body {
	
   
	background-color: #ecf0f1;
	margin: 0;
	overflow: none;

	
    
}

.updatesNews {
	float: right;
	width: 38%;
	height: 27em;
	background-color: #F5F5F5;
	height: auto;
	overflow: hidden;
}

.updatecontainer {

	height: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;


}

.button {
     /* navbar red */
    border: solid #A83838 .2em;
    color: #A83838;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    font-size: .8em;
    margin-left: 40%;
    border-radius: 4px;

}
.button:hover {
     /* navbar red */
    background-color: #A83838;
    color: #E6BE8A;

}

.row1 {
	float: left;
	margin-left: 1em;
}
.row2 {
	float: right;
	margin-right: 1em;
}
ul {
  list-style-type: none;
}

.updatesScore {
	float: left;
	width: 60%;
		height: 59.4em;
		overflow: none;
	
	background-color: #F5F5F5;

	padding-left: .5em;
			overflow: hidden;


}

h1 {
	font-family: 'Roboto', sans-serif;
}

.updatesNews a {
	text-decoration: none;
	color: #000000;
	font-size: 1em;
	display: inline-block;
	padding: 14px 25px;
	
}
a

a.testhover:hover {
	opacity: .8;
}

.updatesNews a:hover{
	
	color: #5E74FF;
	
}
.testtitle {
	float: left;
	margin-left: 3em;
	width: 13.0em;
	height: 9.0em;
	
}

.testtitle a:hover {
	opacity: .1;
}


a.title {
	text-decoration: none;
	color: #A83838;
	
	
	font-family: Verdana, sans-serif;
	

}

a.testhover:hover {
	opacity: .8;
}





nav {


	background-color: #A83838;

	
	
	
}

#container {
	height: auto;
	width: 100%;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;


}
nav {
	height: 4em;
	  color: #E6BE8A;
}
nav a {
	font-weight: bold;
	color: #E6BE8A;
    padding-top: 1em;
    padding-right: .5em;
	padding-left: .5em;
    text-decoration: none;
}

nav a:hover {
	color: #ffffff;
}

.activeLink {
	color: #ffffff;

}
iframe {
	width: 31em;
	height: 18em;
}
width="560" height="315"

.imgFloat {
	float: right;
	margin-right: 35%;
	margin-top: 1%;
	clear: both;
	width: 13em;
	height: 10em;
	display: block;
	overflow: hidden;
	
	


}

footer {
	
	background-color:#A83838;
	
	width: 6em;
	clear: both;
	height: 4em;
	width: 100%;
	text-align: center;
	

	
}

footer h3 {
	color: #E6BE8A;
	text-align: center;
	padding-top: 1.2em;

}


#containerScore{
	border: solid black .1em;
	
	background-color: #ffffff;
	
	
}

.imgThumbnail {
	width: 13.0em;
	height: 9.0em;
}






 nav a {
	
    text-decoration: none;
}

section {
	position: relative;
	padding: 3%;
	margin: 0;
	text-align: center;
	width: auto;
	display: block;
	overflow: hidden;
	height: auto;


}

#welcomeSection {
	background-color: #ecf0f1;
	

	
	overflow: hidden;

}
#welcomeSection h1 {
	font-size: 4em;
	
}
#aboutSection {
	background-color: #F5F5F5;
	


}

.floatImgLeft {
	float: left;
	width: 30em;
	height: 20em;
	clear: left;
	

}
p.floatTextRight {
	float: right;
	clear: right;

}

h2 {
	font-family: 'Roboto', sans-serif;
}


 /* Anthony css */
 summary{
	border:3em solid #AF1E2C;
	border-color: solid black;
	background-color: #E6BE8A;
	padding:.25cm;
	text-align: center;
	letter-spacing:.25cm;
	font-family:Arial;
	font-weight:bold;
	border-spacing:50cm;
	border-radius: .35cm;
	border-collapse:separate;
	border-spacing:.25cm;
}
h4{
	font-weight:bold;
	text-align:left-side;
	
}


	

.scheduleImg{
	position:auto;
	max-width:40%;
	float:center;
	margin-bottom:.25em;
	}


